* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-left: 1em;
  margin-right: 1em;
}

body {
  /* background-image: linear-gradient(120deg, #6628ca 0%, #6d0e4a 100%); */
  /* background-image: linear-gradient(120deg, #3836b5 0%, #4470b3 100%); */
  /* background-image: linear-gradient(120deg, #1f1cbf 0%, #455ac1 100%); */
  /* background-image: linear-gradient(120deg, #455ac1 0%, #1f1cbf 100%); */
  background-image: url('./assets/clouds.jpg');
  background-size: 100em;
  background-position-y: -5px;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
}

header {
  font-size: 1rem;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

header h1 {
  font-size: 1.5em;
}

input,
select,
textarea,
button {
  border-radius: 5px;
  padding: 0.5rem;
  border: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.entry-form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.entry-form-wrapper form {
  width: 100%;
}

ul.entry-form {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

ul.entry-form li {
  margin: 0.3rem 0;
}

ul.entry-form select {
  padding: 0.5rem;
  cursor: pointer;
}

ul.entry-form input {
  padding: 0.5rem;
}

.entry-list-container {
  display: flex;
  justify-content: center;
}

.entry-list-container .left-group {
  display: flex;
  align-items: center;
}

.entry-list-container ul {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  width: 25em;
}

.entry-list-container ul li {
  color: black;
  background-color: silver;
  padding: 0.5rem 0.5rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.entry-list-container ul li a {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 0.9em;
}

/* happy */
.entry-list-container ul li.happy {
  background-color: limegreen;
}

.entry-list-container ul li.happy a {
  color: black;
}

/* excited */
.entry-list-container ul li.excited {
  background-color: gold;
}

.entry-list-container ul li.excited a {
  color: black;
}

/* sad */
.entry-list-container ul li.sad {
  background-color: cornflowerblue;
}

.entry-list-container ul li.sad a {
  color: black;
}

.entry-list-container ul li.angry {
  background-color: crimson;
}

.entry-list-container ul li.angry a {
  color: black;
}

.entry-list-container span.created-date {
  float: right;
}

.list-emoticon {
  color: white;
  font-size: 1.5em;
  margin-right: 0.5rem;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button .add-entry-button {
  padding: .75rem;
  cursor: pointer;
  background-color: limegreen;
  color: #ffffff;
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
}

.image-wrapper {
  /* border: 2px dashed white; */
  display: flex;
  /* max-width: 10em; */
  max-height: 10em;
  overflow: hidden;
  float: left;
  position: relative;
}

.image-close-button {
  cursor: pointer;
  position: absolute;
  background-color: black;
  padding: 1px 5px 1px 5px;
  border-radius: 5px 0px 5px 5px;
  position: absolute;
  right: 0px;
}

.image-selected-preview {
  max-width: 10em;
  max-height: 10em;
}

.add-category-modal {
  background-color: #222222;
  display: block;
  position: fixed;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
}

.add-category-modal .add-category-button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #54bb54;
  color: #ffffff;
  width: 10em;
  font-weight: bold;
}

.add-category-modal .close-button {
  cursor: pointer;
  position: absolute;
  background-color: black;
  padding: 1px 5px 1px 5px;
  border-radius: 5px 0px 5px 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.close-modal-button {
  background-color: black;
}

form button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #54bb54;
  color: #ffffff;
  width: 10em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 10px;
}

.nav-links li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.images-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.emotion-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.emotion-selector input[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.emotion-selector [type=radio] + svg {
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

/* CHECKED STYLES */
.emotion-selector [type=radio]:checked + svg {
  border: 1px dashed white;
  border-radius: 1em;
}

.loginoutbutton {
  display: flex;
  min-height: 15em;
  align-items: flex-end;
  justify-content: center;
}